@tailwind base;
  @tailwind components;
  @tailwind utilities;


  ::-webkit-scrollbar {
    display: none;
  }

  body {
    --black: #111111;
    --white: #fdfdfd;
    --green: #22cc88;
    --blue: #0055ff;
    --purple: #8855ff;
    --red: #ff0055;
    --orange: #ee4444;
    --yellow: #ffcc00;
    --mustard: #ffaa00;
   
  }
  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
  }




/* theme */

/* logo font  */
@font-face {
  font-family: 'Cloister';
  src: local('Cloister'), url(public/CloisterBlack.ttf) format('truetype');}
@font-face {
  font-family: 'GT';
  src: local('GT'), url(public/GTWalsheimPro-Bold.ttf) format('truetype');}
@font-face {
  font-family: 'Robo';
  src: local('Robo'), url(public/Roboto-Regular.ttf) format('truetype');}  
/* logo font */

@layer base {
  :root {
    --background: 0, 0%, 96%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 90%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 1rem;
  }

  .dark {
    --background: 0, 0%, 9%;
    --foreground: 0 0% 100%;
    --card: 0, 0%, 11%; 
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0, 0%, 25%; /*rind for card?*/ 

    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}












/* base style */
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }